ctranslate2
fastapi
faster-whisper==1.1.1
numpy
pydantic-settings
pydantic
python-multipart
sounddevice
soundfile
uvicorn
openai[realtime]==1.70.0
aiostream==0.6.4
cachetools
httpx-ws
aiortc
f5-tts==1.1.0
av==14.2.0
matplotlib
vinorm
librosa